* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	font-family: 'Lato', sans-serif;
}

:root {
	--header-footer-color: rgb(27, 26, 26);
	--button-color: rgb(134, 134, 134);
	--font-lato: 'Lato', sans-serif;
	--second-btn-color: rgb(44, 44, 44);
}

/********************* HEADER *********************/

.header-container {
	display: grid;
	grid-template-columns: repeat(3, 20% 60% 20%);
	background-color: var(--header-footer-color);
	width: 100%;
	height: 10vh;
	border-bottom: 3px solid white;
}

.some-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5em;
	border-right: 3px solid white;
}

.fa-brands,
.fa-regular {
	color: white;
	font-size: 25px;
}

.fa-brands:hover,
.fa-regular:hover {
	transition: 0.4s ease-in-out;
	transform: scale(1.3);
	cursor: pointer;
}
.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 3px solid white;
}

.logo {
	width: 180px;
	height: auto;
}

.contact-container {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
}

.contact-container a {
	color: var(--button-color);
	font-weight: 700;
	letter-spacing: 2px;
	text-decoration: none;
	position: relative;
}

/********************* NAV **************/

.nav {
	background-color: var(--header-footer-color);
	display: flex;
	width: 100%;
	height: 6vh;
}

.nav-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.nav-container a {
	color: var(--button-color);
	font-weight: 700;
	text-decoration: none;
	position: relative;
}

.contact-container a,
.contact-container a:after,
.contact-container a:before,
.nav-container a,
.nav-container a:after,
.nav-container a:before {
	transition: all 0.5s;
}

.contact-container a:after,
.nav-container a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: #aaa;
	height: 1px;
}

.contact-container a:hover:after,
.nav-container a:hover:after {
	width: 100%;
}

.header-mobile {
	display: none;
}

/*********************** MAIN ************************/

.mobile {
	display: none;
}

main {
	width: 100%;
	height: auto;
	background-image: url(../img/landscapes-2-blur.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.landscapes-intro {
	padding-top: 10vh;
	padding-bottom: 10vh;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.landscapes-container {
	outline: white 3px solid;
	outline-offset: -20px;
	color: white;
	font-size: 23px;
	padding: 7vh;
	width: 60vw;
	height: auto;
	background-color: var(--header-footer-color);
}

.landscapes-container h1 {
	color: white;
	letter-spacing: 2px;
	padding-bottom: 2vh;
}

.landscapes-container p {
	color: rgb(184, 184, 184);
}

/********************* GALLERY ******************************/

.gallery {
	padding-bottom: 15vh;
}

.gallery-container {
	background-color: var(--header-footer-color);
	display: grid;
	margin-left: 10vw;
	margin-right: 10vw;
	padding: 1vw;
	grid-gap: 0.85vw;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: auto;
	grid-auto-flow: dense;
}

.img-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*************************** FOOTER **************************/

.footer-space {
	height: 5vh;
	background-color: var(--header-footer-color);
	border-bottom: white 3px solid;
}
.footer-container {
	display: grid;
	grid-template-columns: repeat(3, 20% 60% 20%);
	justify-items: center;
	background-color: var(--header-footer-color);
	width: 100%;
	height: 30vh;
}

.footer-contacts {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	border-left: 3px solid white;
	border-right: 3px solid white;
}

.footer-contacts > div > a {
	color: var(--button-color);
	text-decoration: none;
	cursor: pointer;
	font-size: 18px;
}

.email-div {
	padding-top: 5vh;
	gap: 5px;
}

.ig-div {
	gap: 5px;
}

.ig-div,
.email-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/********************** RESPONSIVE *****************/

/*********************MOBILE *******************************/

@media (min-width: 375px) and (max-width: 431px) {
	.fa-brands,
	.fa-regular {
		display: none;
	}
	/* Responsive nav */
	.web-header {
		display: none;
	}
	.header-mobile {
		display: flex;
		justify-content: space-between;
		align-items: center;

		background-color: var(--header-footer-color);
	}

	.fa-solid {
		color: white;
		font-size: 1.5rem;
		display: block;
		padding: 3vw;
	}

	.sidenav {
		text-align: left;
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: rgb(0, 0, 0); /* Black*/
		overflow-x: hidden;
		padding-top: 60px;
		transition: 0.5s;
	}

	.sidenav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 20px;
		color: #e7e7e7;
		display: block;
		transition: 0.3s;
	}

	.sidenav a:hover {
		color: #f1f1f1;
	}

	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}

	.logo {
		width: 120px;
		height: auto;
		padding-left: 5vw;
	}

	/**** Nav Ends **/

	main {
		display: none;
	}

	/* MOBILE GALLERY*/

	.mobile {
		display: block;
		padding-bottom: 5vh;
		background-image: url(../img/landscapes-2-blur.jpg);
	}

	/* Slideshow container */
	.slideshow-container {
		padding-left: 10vw;
		padding-right: 10vw;
		max-width: 1000px;
		position: relative;
		margin: auto;
	}

	/* Hide the images by default */
	.mySlides {
		background-color: var(--header-footer-color);
		padding: 1.5vh;
		display: none;
		height: auto;
	}

	.mySlides img {
		object-fit: cover;
		height: 350px;
	}

	/* Next & previous buttons */
	.prev,
	.next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		margin-top: -22px;
		padding: 16px;
		color: white;
		font-weight: bold;
		font-size: 18px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
		right: 0;
		margin-right: 50px;
		border-radius: 3px 0 0 3px;
	}

	/* Number text (1/3 etc) */
	.numbertext {
		color: #ffffff;
		font-size: 12px;
		padding: 8px 12px;
		position: absolute;
		top: 5;
	}

	/* The dots/bullets/indicators */
	.dot {
		cursor: pointer;
		height: 10px;
		width: 10px;
		margin: 0 2px;
		background-color: var(--button-color);
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}

	.active,
	.dot:hover {
		background-color: #000000;
	}

	/* Fading animation */
	.fade {
		animation-name: fade;
		animation-duration: 1.2s;
	}

	@keyframes fade {
		from {
			opacity: 0.9;
		}
		to {
			opacity: 1;
		}
	}

	/** Mobile Gallery Ends **/

	.landscapes-intro {
		padding-top: 5vh;
		padding-bottom: 5vh;
	}

	.landscapes-container {
		font-size: 15px;
		width: 80vw;
		padding: 5vh;
	}

	.landscapes-container h1 {
		font-size: 20px;
	}

	.gallery {
		padding-bottom: 10vh;
	}

	.gallery-container {
		padding: 2vw;
		grid-gap: 2vw;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	}

	.footer-container {
		height: 15vh;
		font-size: 14px;
	}

	.footer-contacts > div > a {
		font-size: 12px;
	}

	.email-div {
		padding-top: 3vh;
	}
}

@media (min-width: 320px) and (max-width: 374px) {
	.fa-brands,
	.fa-regular {
		display: none;
	}
	/* Responsive nav */
	.web-header {
		display: none;
	}
	.header-mobile {
		display: flex;
		justify-content: space-between;
		align-items: center;

		background-color: var(--header-footer-color);
	}

	.fa-solid {
		color: white;
		font-size: 1.5rem;
		display: block;
		padding: 3vw;
	}

	.sidenav {
		text-align: left;
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: rgb(0, 0, 0); /* Black*/
		overflow-x: hidden;
		padding-top: 60px;
		transition: 0.5s;
	}

	.sidenav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 20px;
		color: #c2c1bf;
		display: block;
		transition: 0.3s;
	}

	.sidenav a:hover {
		color: #f1f1f1;
	}

	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}

	.logo {
		width: 100px;
		height: auto;
		padding-left: 5vw;
	}

	/**** nav ends here **/
	main {
		display: none;
	}

	/* MOBILE GALLERY*/

	.mobile {
		display: block;
		padding-bottom: 5vh;
		background-image: url(../img/landscapes-2-blur.jpg);
	}

	/* Slideshow container */
	.slideshow-container {
		padding-left: 10vw;
		padding-right: 10vw;
		max-width: 1000px;
		position: relative;
		margin: auto;
	}

	/* Hide the images by default */
	.mySlides {
		background-color: var(--header-footer-color);
		padding: 1.5vh;
		display: none;
		height: auto;
	}

	.mySlides img {
		object-fit: cover;
		height: 350px;
	}

	/* Next & previous buttons */
	.prev,
	.next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		margin-top: -22px;
		padding: 16px;
		color: white;
		font-weight: bold;
		font-size: 18px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
		right: 0;
		margin-right: 50px;
		border-radius: 3px 0 0 3px;
	}

	/* Number text (1/3 etc) */
	.numbertext {
		color: #ffffff;
		font-size: 12px;
		padding: 8px 12px;
		position: absolute;
		top: 5;
	}

	/* The dots/bullets/indicators */
	.dot {
		cursor: pointer;
		height: 10px;
		width: 10px;
		margin: 0 2px;
		background-color: var(--button-color);
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}

	.active,
	.dot:hover {
		background-color: #000000;
	}

	/* Fading animation */
	.fade {
		animation-name: fade;
		animation-duration: 1.2s;
	}

	@keyframes fade {
		from {
			opacity: 0.9;
		}
		to {
			opacity: 1;
		}
	}

	/** Mobile Gallery Ends **/

	.landscapes-intro {
		padding-top: 5vh;
		padding-bottom: 5vh;
	}

	.landscapes-container {
		font-size: 15px;
		width: 80vw;
		padding: 4vh;
	}

	.landscapes-container h1 {
		font-size: 20px;
	}

	.gallery {
		padding-bottom: 10vh;
	}

	.gallery-container {
		padding: 1.5vw;
		grid-gap: 1.5vw;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	}

	.footer-container {
		height: 20vh;
	}

	.footer-contacts > div > a {
		font-size: 14px;
	}

	.email-div {
		padding-top: 3vh;
	}
}

/*********************** TABLET *************************/

@media (min-width: 767px) and (max-width: 1023px) {
	.some-container {
		gap: 1em;
	}

	.fa-brands,
	.fa-regular {
		font-size: 1.25em;
	}

	.logo {
		height: auto;
		width: 220px;
	}

	.nav-container a {
		font-size: 15px;
	}

	.landscapes-intro {
		padding-top: 5vh;
		padding-bottom: 5vh;
	}

	.landscapes-container {
		font-size: 1.2em;
		width: 80vw;
	}

	.gallery-container {
		padding: 1.2vw;
		grid-gap: 1.2vw;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-auto-rows: auto;
		grid-auto-flow: dense;
	}

	.landscapes-container h1 {
		color: color;
		letter-spacing: 2px;
		padding-bottom: 2vh;
	}

	.footer-container {
		height: 20vh;
	}

	.email-div {
		padding-top: 3vh;
	}
}

/************** BIGGER SCREENS *******************************/

@media (min-width: 1024px) and (max-width: 1550px) {
	/* .extra {
		display: none;
	} */

	.footer-container {
		height: 20vh;
	}

	.landscapes-container {
		font-size: 1em;
	}

	footer {
		font-size: 15px;
	}

	.footer-container {
		height: 25vh;
	}

	.footer-contacts div > a {
		font-size: 1em;
	}
}

@media (min-width: 1900px) {
	.some-container {
		gap: 3em;
	}

	main {
		height: 100%;
	}

	.fa-brands,
	.fa-regular {
		color: white;
		font-size: 35px;
	}

	.logo {
		width: 300px;
		height: auto;
	}

	.contact-container {
		font-size: 25px;
	}

	.nav-container {
		gap: 50px;
	}

	.nav-container a {
		font-size: 20px;
	}

	.landscapes-container {
		width: 30vw;
	}

	.extra {
		display: none;
	}

	.gallery {
		padding-bottom: 15vh;
	}

	.gallery-container {
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	}

	.gallery-container {
		gap: 0.7vw;
		padding: 0.7vw;
	}

	footer {
		font-size: 20px;
	}

	.footer-container {
		height: 20vh;
	}
}
